
/* 
    Created on : Nov 25, 2019, 8:27:02 AM
    Author     : Nick Shattuck
*/

.vboxBackground{
    background-color: #87CEFA; 
}

.loginBtn{
    -fx-background-color: #87CEFA;
    -fx-text-fill: #F8F8FF; 
    -fx-font-weight:bold;
    -fx-font-size:15px;
    /*-fx-border-color:#87CEFA;*/
    -fx-border-color:#87CEFA;
}

.closeBtn{
    -fx-background-color: #87CEFA;
    -fx-text-fill: #F8F8FF; 
    -fx-border: 5px; 
    -fx-font-weight:bold;
    -fx-font-size:15px; 
    -fx-border-color:#87CEFA;
}



.buttonHover:hover{
    -fx-background-color: #000080; 
    -fx-text-fill: #F8F8FF; 
    -fx-border-color:transparent; 
    -fx-border-width: 1px; 
    -fx-border-style: solid; 
}

input[type=text]{
    width:100%; 
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}