
/* 
    Created on : Dec 6, 2019, 1:42:18 PM
    Author     : Nick Shattuck
*/

#vb-sidebar .sidebar-button {
    -fx-background-color: transparent; 
    -fx-text-fill: white;
     -fx-border-color:transparent; 
    -fx-font-weight:bold; 
    -fx-cursor:hand;
}


#vb-sidebar .sidebar-button:hover {
    -fx-background-color: #FFD5FF;
    -fx-text-fill: whitesmoke;
    -fx-font-weight:bold; 
    -fx-cursor:hand; 
}

#vb-sidebar .sidebar-button-active {
    -fx-background-color: #000080;
    -fx-font-weight:bold; 
    -fx-text-fill:whitesmoke; 
    -fx-cursor:hand;
}

#vb-sidebar .slider-button {
    -fx-background-color: transparent;
     -fx-border-color:transparent; 
    -fx-text-fill: whitesmoke;
    -fx-cursor:hand;
}


#vb-sidebar .slider-button:hover {
    -fx-background-color:#D5FFFF;
    -fx-text-fill: #FFFFD5;
    -fx-cursor:hand;
}